	   .printable {display: none;} 
		             @media print { 
		             .noprint, .menuwrapper, .ui-dialog, footer, #toast-container {display: none !important;} 
		             .printable {display: block; 
		             width: 11in !important; 
		             position: fixed; 
		             top: -40px; 
		             left:0px; 		            
		             border: 0px solid black; 
		             } 
		                		
		             body  { 
		             width: 11in; 
		             height:210in; 
		             } 
		             } 
		             @PAGE { 
						    size: A4 portrait; 
						    margin: 2cm 0.20cm 2cm 0.20cm; 
						    } 
						    table tr{page-break-after:always;} 
						    td{  word-wrap: break-word;} 					   
						    } 
						   			